<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body >
    <header>
      <img
        src="{{ url_for('static', filename='img/header.png') }}"
        alt="Logo"
        width="100%"
      />
    </header>
  <body>
    <main >
      <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small"
                ><i class="fas fa-image" aria-hidden="true"></i
              ></span>
              <span>Lista de tareas</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small"
                ><i class="fas fa-music" aria-hidden="true"></i
              ></span>
              <span>Tareas Pendienres</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small"
                ><i class="fas fa-film" aria-hidden="true"></i
              ></span>
              <span>Tareas en Proceso</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small"
                ><i class="far fa-file-alt" aria-hidden="true"></i
              ></span>
              <span>Tareas Realizadas</span>
            </a>
          </li>
        </ul>
      </div>
      <section class="section">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Todo list App</strong> by <a href="">Oscar Girao</a>. The
          source code is licensed .
          <strong> The website content is licensed </strong>
        </p>
      </div>
    </footer>
  </body>
</html>
