{% extends "base.html" %} {% block content%}
<section class="hero is-info is-small is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span class="icon">
          <i class="fas fa-tasks"></i>
        </span>
        ToDo List App
      </h1>
      <h2 class="subtitle">Organiza tu vida, simplifica tu día.</h2>
      <p class="content">
        ¡Bienvenido a ToDo List, la aplicación que hará que tu vida sea más
        fácil! Gestiona tus tareas diarias, mantén el control de tus proyectos y
        alcanza tus metas de manera eficiente. ¡Descubre la productividad con
        nosotros!
      </p>
    </div>
  </div>
</section>
{% endblock %}
