{% extends "base.html" %} {% block content %}
<form class="box">
  <h1 class="title has-text-centered">Iniciar Sesión</h1>

  <div class="field">
    <label class="label" for="email" Email>Email</label>
    <div class="control">
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        placeholder="e.g. alex@example.com"
        required
      />
    </div>
  </div>

  <div class="field">
    <label for="password" class="label">Contraseña</label>
    <div class="control">
      <input
        class="input"
        type="password"
        id="password"
        name="password"
        placeholder="********"
        required
      />
    </div>
  </div>

  <button class="button is-info">Ingresar</button>
</form>
{% endblock content %}
