{% extends "base.html" %} {% block content %}
<form class="box" method="post">
  <h1 class="title has-text-centered">Registro</h1>
  <div class="field">
    <label for="username" class="label">Ingresar Nombre</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="username"
        name="username"
        placeholder="Nombre"
        required
      />
    </div>
  </div>
  <div class="field">
    <label class="label" for="email">Ingresar Email</label>
    <div class="control">
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        placeholder="e.g. alex@example.com"
        required
      />
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Ingresar contraseña</label>
    <div class="control">
      <input
        class="input"
        type="password"
        id="password"
        name="password"
        placeholder="Ingresar contraseña"
        required
      />
    </div>
  </div>

  <button class="button is-info">Registrarse</button>
</form>
{% endblock content %}
